<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>优惠券</title>
    <link rel="stylesheet" href="/weui.min.css">
    <link rel="stylesheet" href="/jquery-weui.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/jquery-weui.min.js"></script>
    <script src="/swiper.min.js"></script>
    <style>
        body{
            height: 100vh;
            background: #141414;
        }
        .top{
            height: 100%;
            width: 100%;
        }
        .weui-panel{
            position: static;
        }
        .box-content{
            margin-bottom: 25px;
        }
        .weui-media-box
        {
            background: #141414;
        }
        .weui-media-box__title{
            color: #a79175;
        }
        .weui-media-box__desc{
            color : #816d56;
        }
    </style>
</head>
<body>
        <div class="wrapper">
            <div class="weui-flex">
                <img class="top" src="/public/4.png" alt="">
            </div>
            <div class="weui-panel weui-panel_access">
                    
                    <div class="weui-panel__bd">
                        <% data.map((item,index)=>{ 
                            if(item.type == "1")
                            {
                                item.type = "MUSEE COFFEE咖啡券";
                            }
                            else if(item.type == "2")
                            {
                                item.type = (parseInt(item.rate)*10)+"折拍摄券";
                            }
                            else if(item.type == "3")
                            {
                                item.type = (parseInt(item.rate)*10)+"折摄影券";
                            }
                            item.endTime = (parseInt(item.enTime)/1000).getTime();
                        %>
                        <a href="/couponDetail.html">
                            <div class="weui-media-box weui-media-box_text">
                                <h4 class="weui-media-box__title"><%= item.type %></h4>
                                <div class="box-content">
                                    <div style="float: left;text-align: left">
                                        <p class="weui-media-box__desc"><%= item.endTime %>到期</p>
                                    </div>
                                    <div style="float: right;text-align: right">
                                        <p class="weui-media-box__desc">剩余 <%= item.count %> </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                        <!-- <a href="/couponDetail.html">
                            <div class="weui-media-box weui-media-box_text">
                                <h4 class="weui-media-box__title">9.5折摄影券</h4>
                                <div class="box-content">
                                    <div style="float: left;text-align: left">
                                        <p class="weui-media-box__desc">2019-01-12到期</p>
                                    </div>
                                    <div style="float: right;text-align: right">
                                        <p class="weui-media-box__desc">剩余 3</p>
                                    </div>
                                </div>
                        </div>
                        </a> -->
                    </div>
                    <!-- <div class="weui-panel__ft">
                        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">查看更多</div>
                            <span class="weui-cell__ft"></span>
                        </a>    
                    </div> -->
                </div>
        </div>
</body>
</html>